/*
ul.alt 안의 li를 hover 했을 때
*/
ul.alt > li > span.hov:hover {
    font-weight: bold;
    color: #f56a6a;
    cursor: pointer;
}

.menu-controller {
    cursor: pointer;
}

.btn-container {
    text-align: right;
}
.hover-btn {
    transition: 0.5s ease;
    color : #808080;
    cursor: pointer;
}

.hover-btn:hover {
    color : #f67878;
}

.active-btn {
    color : #f67878;
    transition: 0.5s ease;
    cursor: pointer;
}

.active-btn:hover {
    color : #808080;
}

textarea.ta-noresize {
    resize: none;
}

.box > p > img {
    max-width: 100% !important;
    height: auto !important;
}