<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muesli.mapper.CommentMapper">

    <select id="getCommentCount" resultType="int">
        SELECT count(cmt_id) FROM comment WHERE post_id = #{post_id} AND cmt_del = 0
    </select>

    <select id="getMaxNum" resultType="int">
        SELECT MAX(cmt_id) FROM comment
    </select>

    <select id="getMaxOrder" resultType="int">
        SELECT MAX(cmt_reply) FROM comment WHERE cmt_num = #{cmt_num}
    </select>

    <select id="getCommentList" resultType="comment">
        SELECT *, mem.mem_nickname FROM comment cmt
        JOIN member mem
        ON cmt.mem_id = mem.mem_id
        WHERE post_id = #{comment.post_id} AND cmt_del = #{comment.cmt_del}
        ORDER BY cmt.cmt_num, cmt.cmt_reply
        LIMIT #{pageBean.startRow},#{pageBean.pageSize};
    </select>

    <select id="getComment" resultType="comment">
        SELECT * FROM comment WHERE cmt_id = #{cmt_id}
    </select>

    <insert id="createComment">
        INSERT INTO comment VALUES (null, #{post_id}, #{brd_id}, #{cmt_num}, #{cmt_reply}, #{cmt_content}
                                   , #{mem_id}, #{cmt_datetime}, #{cmt_updated_datetime}, #{cmt_ip}, #{cmt_like}, #{cmt_dislike}, #{cmt_blame}, #{cmt_device}, #{cmt_del})
    </insert>

    <update id="deleteComment">
        UPDATE comment SET cmt_del = 1 WHERE cmt_id = #{cmt_id}
    </update>

    <!--    회원이 올린 댓글 개수-->
    <select id="getMemberCommentCount" resultType="int">
        SELECT COUNT(cmt.cmt_id) FROM comment cmt JOIN post
        ON cmt.post_id = post.post_id WHERE cmt.mem_id = #{mem_id} AND post.post_del = 0
    </select>
</mapper>
