<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muesli.mapper.MenuMapper">

<!--    메뉴 리스트-->
    <select id="getMenuList" resultType="menu">
        SELECT * FROM menu ORDER BY men_order
    </select>

<!--    메뉴 호출-->
    <select id="getMenu" resultType="menu">
        SELECT * FROM menu WHERE men_id = #{men_id}
    </select>

<!--    메뉴 수정-->
    <update id="updateMenu">
        UPDATE menu SET men_name = #{men_name}, men_link = #{men_link}, men_custom = #{men_custom}, men_desktop = #{men_desktop},
                        men_mobile = #{men_mobile}, men_parent = #{men_parent}, men_target = #{men_target} WHERE men_id = #{men_id}
    </update>

<!--    메뉴그룹 개수-->
    <select id="getMenuGroupCount" resultType="int">
        SELECT COUNT(men_id) FROM menu WHERE men_parent IS NULL
    </select>

<!--    메뉴그룹에 속하는 메뉴 개수-->
    <select id="getMenuCount" resultType="int">
        SELECT COUNT(men_id) FROM menu WHERE men_parent = #{men_parent}
    </select>

<!--    대상 메뉴 순서 변경-->
    <update id="updateOtherOrder">
        UPDATE menu SET men_order = #{menuBean.men_order}
        WHERE men_order =
            <choose>
                <when test="isUp">#{menuBean.men_order}-1</when>
                <otherwise>#{menuBean.men_order}+1</otherwise>
            </choose>
           <if test="isMenuGroup == false">
               AND men_parent = #{menuBean.men_parent}
           </if>

    </update>
<!--    해당 메뉴 순서 변경-->
    <update id="updateOrder">
        UPDATE menu SET men_order = #{menuBean.men_order}
                                                <choose>
                                                    <when test="isUp">-1</when>
                                                    <otherwise>+1</otherwise>
                                                </choose>
        WHERE men_id = #{menuBean.men_id}
    </update>
</mapper>

